<li>
    {{burger_name}}
    {{#if devoured}}
    <button class="delete-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">DELETE</button>
    {{else}} <button class="change-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">EATME</button>
    {{/if}}
    </button>
</li>